<!DOCTYPE html>
<html class="bg-dark bg-opacity-25" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Den</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" </head>

<body>
  <div class=" bg-dark bg-opacity-50 flex-column justify-space-around">
    <header class="bg-dark bg-opacity-50 display-flex justify-space-around align-center p-2 border-bottom border-secondary">
      <h1 class='' id="main-logo">
        Tech Den
      </h1>
      <nav>
        <a href="/"><button class='button'>HOME</button></a> |
        {{#if logged_in}}
        <a href="/profile"><button class='button'>PROFILE</button></a> |
        <button class="button" id="logout">LOGOUT</button>
        {{else}}
        <a href="/login"> <button class='button'> LOGIN </button></a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>